<div class="flash">
  <%= flash[:notice] %>
</div>
<p class="show_title"><strong class="show_title1">Title:</strong><%= @book.title %></p>

<p class="show_body"><strong class="show_body1">Body:</strong><%= @book.body %></p>

<p class="show_edit"><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", "/books" %></p>